[submodule "import-map-deployer"]
	path = import-map-deployer
	url = git@github.com:single-spa/import-map-deployer.git
[submodule "root-config"]
	path = root-config
	url = git@github.com:martini97/atlas-root-config.git
[submodule "theseus"]
	path = theseus
	url = git@github.com:martini97/atlas-theseus.git
[submodule "cerberus"]
	path = cerberus
	url = git@github.com:martini97/atlas-cerberus.git
